*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-size: 20px;
}

@media (max-width: 768px) {
    html, body {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    html, body {
        font-size: 16px;
    }
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo_titulo {
    padding: 3%;
    display: flex;
    align-items: center;
    gap: 3%;
    font-weight: bold;
}

.text-mensaje {
    padding: 1% 5% 0% 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenido-principal {
    margin: 3% 0%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

@media screen and (min-width:768px) {
    .contenido-principal {
        height: 50vh;
        justify-content: space-around;
        flex-direction: row;
    }
}

.left {
    display: flex;
    justify-content: center;
    align-items: center
}

::placeholder {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding: 7% 3%;
    opacity: 0.2;
}

textarea {
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: rgb(218, 218, 218, 0.5);
}

.right {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right>:first-child {
    margin-bottom: 7%;
}

.hidden,
.hidden1 {
    display: none;
}

.contenedor-botones {
    margin-top: 3%;
    padding: 1%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.btn-2 {
    padding: 2%;
    color: #ffffff;
    font-weight: bold;
    background: #0a3871;
    border: none;
    border-radius: 7%;
    transition: 1s all;
    cursor: pointer;
}

.contenedor-mensajes {
    margin-top: 2%;
}